* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    height: 100%;
    /* background-color:black; */

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
}

.btn-theme {
    width: 30rem;
    height: 6.3rem;
    display: inline-block;
    background: #C8191C;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    padding-top: 1.5rem;
    text-align: center;

}

header {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    /* padding: 1rem; */
    /* background-color: rgb(54, 9, 9); */

}

header .container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin: 5rem;
}

/***********hero*******************/

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    position: relative;
    height: 100vh;
    width: 100%;

}

#hero::before {
    content: '';
    position: absolute;
    background: url(../images/hero-banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    inset: 0;
    opacity: 0.1;


}

.hero-data {
    padding-top: 37rem;
    text-align: center;
    z-index: 999;
    position: relative;
}



.hero-data h1 {
    font-weight: 700;
    font-size: 13rem;
    line-height: 16rem;
    text-align: center;
    color: #FFFFFF;
}

.hero-data p {
    margin: 0 auto;
    width: 90.6rem;
    padding: 5.5rem 0;
    /* text-align: center; */
}

.hero-data span {
    color: #C8191C;
}

/**********************************/



/*************discover section********/
#discover {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;

    padding-bottom: 20rem;

}

#discover .discover-symbol>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#discover .discover-symbol h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 2rem;
}



/**********************************/

/***********discover-data**********/
.about {
    padding-top: 20rem;
    padding-bottom: 20rem;
    position: relative;
    /* background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%); */
}

.about .border-end {
    padding-right: 11.5rem;
}

.about p {
    margin-top: 10rem;
    max-width: 54.1rem;
}

.about .btn-theme {
    margin-top: 10.5rem;
}

/**********************************/

/***********super section*********/
#super {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
}

.imagine-data {
    padding-top: 4.5rem;
}

#super h4 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
}

#super p {
    padding-top: 11.5rem;
    width: 48.5rem;
}

.super-image {
    padding-left: 8.8rem;
}

.superimg {
    width: 100%;
}

.super-data h4 {
    padding-top: 10.4rem;
    padding-left: 2.9rem;
}




/**********************************/
/************services section*********/
#services {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
}


#services h2,
h6 {
    text-align: center;
}

#services h2 {
    min-width: 14.33rem;
}

.service-box {
    border: 2px solid white;
    padding: 5rem 6rem;
}

.service-box img {
    width: 100%;
}

.service-box h5 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5rem;
}

.service-box p {
    padding-top: 2rem;
}

#services .row>*:nth-child(odd) {
    padding: 7.5rem 7.5rem 15rem 4.2rem;
}

#services .row>*:nth-child(even) {
    padding: 7.5rem 7.5rem 15rem 4.2rem;
}







/**********************************/

/*************why******************/
#why {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
}

#why .why-symbol {
    padding-top: 13.2rem;
}

#why p {
    width: 39.5rem;
    padding-top: 3rem;
}

#why h2 {
    text-align: center;
}

#why h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 3rem;
}

#why .why-symbol>* {
    align-items: center;
    flex-direction: column;
    display: flex;
}


/**********************************/

/**********science section***********/
#science {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
}

#science h6,
h2 {
    text-align: center;
    align-items: center;
}

#science h2 {
    max-width: 105.4rem;
    margin: 0 auto;
}

#science .science-data {
    padding-left: 6rem;
    /* max-width: 15.6rem; */
}

#science .science-data h5 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-transform: uppercase;
    color: #FFFFFF;

}

#science .row>* {
    display: flex;
}

#science .row>*:nth-child(2) {
    padding-left: 8.1rem;
    padding-right: 8.1rem;
}

.justify-content-start {
    justify-content: flex-start !important;
    column-gap: 81px;
    padding-top: 10rem;
}

.justify-content-end {
    justify-content: flex-end !important;
    column-gap: 81px;
    padding-top: 10rem;
}

#science .btn {
    padding-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

#science .btn-theme {
    color: white;

}

.number h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #C8191C;
}

.number {
    padding-top: 20rem;
}

.number p {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 136px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    /* flex-direction: column; */
}

.number .row>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/**********************************/
/**********form section***********/
#form {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);

}

#form h6 {
    text-align: left;
    /* padding-right: 20px; */
}

#form h2 {
    max-width: 45.2rem;
    text-align: left;
}

#form h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 3rem;
}

.space {
    padding-bottom: 8rem;
}

#form ::placeholder {
    color: #FFFFFF;
}

#form input {
    padding-top: 3rem;
    /* align-items: center; */
    padding: 2rem 0 2rem 3rem;
    width: 43.5rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid white;
}

#form select {
    padding: 2rem 0 2rem 3rem;
    width: 43.5rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid white;

}

#service_data {
    background-color: rgba(0, 0, 0, .2);
}

.form_data {
    align-items: center;
}

/**********************************/
/***********memebrship section***********/
#membership {
    background: linear-gradient(180deg, #514242 -74.63%, #2E0A0A 38.7%, #000000 151.34%);
    position: relative;


}

#membership::before {
    content: '';
    position: absolute;
    background: url(../images/member.png);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    inset: 0;
    background-position: center center;


}

.member_data h2 {
    padding-top: 10.5rem;

}

#membership .btn {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 10.9rem;
}

#membership p {
    max-width: 98.9rem;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
}

/**********************************/
/**********member_price************/
#member_price {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);

}

.box {
    margin: 3rem;
}

.row {
    padding-top: 8rem;
}

.box_data h6 {
    color: #FFFFFF;
    text-align: center;
}

/* .box_data p {
    display: flex;
    padding-top: 3rem;
} */

.box_data h3 {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    /* text-align: center; */
    text-transform: uppercase;
    color: #FFFFFF;
}

.box_data span {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.box_data {
    padding: 6rem 7.7rem 6rem 7.7rem;

}

/* .box_data img {
    display: flex;
} */
.box_data ul li {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.box_data ul li p{
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    padding: 2rem;
}
.box_data ul{
    padding-left: 0;
   
}

.box_btn {
    padding-top: 9.5rem;
    display: flex;
    justify-content: center;
}


/*********client section***********/
#client {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);

}

#client img {
    margin: 0 auto;
}

#client h2 {
    max-width: 140rem;
    font-weight: 700;
    font-size: 13rem;
    line-height: 19.1rem;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}




.swiper-wrapper {
    margin: 2rem 5rem;
}

.swiper-wrapper .client-desc {
    padding-left: 3rem;
    /* width: 48rem;
    height: 76rem; */
    margin: 0 2.1rem;
}

.client-desc .client-img {
    /* Width: 47.6rem; */
    /* Height: 51.2rem; */
    margin-bottom: 10rem;

}

.client-desc .client-img img {
    /* Width: 100%; */
    /* Height: 100%; */

}

.client-desc .client-data {
    position: relative;
}
.client-data::before {
    content: '';
    background: url(../images/quote.png);
    background-position: left center;
    inset: 0;
    top: -155px;
    left: -22px;
    position: absolute;
    background-repeat: no-repeat;
}

.client-desc .client-data img {
    position: absolute;
    width: 9.8rem;
    height: 8.5rem;
    color: rgba(255, 255, 255, 0.2);
    font-size: 30rem;
    top: -5rem;
    left: -3rem;
}

.client-desc .client-data p {
    max-width: 465px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.client-desc .client-data h4 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;

}

.swiper-wrapper {
    margin: 2rem 13rem;
}

.mySwiper .swiper-button-next {
    position: absolute;
    top: 28rem;
    color: #FFF;
    right: 2rem;
}

.mySwiper .swiper-button-prev {
    position: absolute;
    top: 28rem;
    color: #FFF;
    left: 2rem;
}


/**********************************/

/**********blog section***********/
#blog {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);

}

.blog_data {
    padding-right: 5rem;
    padding-left: 5rem;
} 

#blog h3 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blog_desc h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: white;
    padding-top: 6rem;
    max-width: 29.4rem;
}

.blog_desc p {
    padding-top: 2rem;
    max-width: 36.1rem;
}

.blog_desc span {
    color: blue;
}
.blog_img img{
    width: 100%;

}

/**********************************/
/**********footer-section***********/
#footer {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
}
#footer .container{
    display: flex;
    justify-content: space-between;
}
.footer_data h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 2rem;
}

.footer_data {
    display: flex;
}

#footer p {
    max-width: 27.5rem;
    padding-top: 2rem;
}

#footer h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_contact ul li a {
    display: flex;
    color: #FFF;
    /* padding: 2rem; */
}
.footer_contact ul li  {
    
    padding: 2rem 0 2rem 0;
}
.footer_contact ul{
    padding-left: 0;
}
.footer_contact img {
    /* padding: 2rem; */
    padding-right: 2rem;
}
.footer_maps img {
    padding-top: 2rem;
}

/**********************************/

@media screen and (min-width:1650px) {
    .container {
        max-width: 150rem;
    }
}

@media screen and (min-width:1920px) {
    .container {
        max-width: 170rem;
    }
}