* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    height: 100%;
    /* background-color:black; */

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
}

.btn-theme {
    width: 30rem;
    height: 6.3rem;
    display: inline-block;
    background: #C8191C;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    padding-top: 1.5rem;
    text-align: center;

}

header {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    /* padding: 1rem; */
    /* background-color: rgb(54, 9, 9); */

}

header .container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin: 5rem;
}

/***********hero*******************/

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    position: relative;
    height: 100vh;
    width: 100%;

}

#hero::before {
    content: '';
    position: absolute;
    background: url(../images/hero-banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    inset: 0;
    opacity: 0.1;


}

.hero-data {
    padding-top: 37rem;
    text-align: center;
    z-index: 999;
    position: relative;
}



.hero-data h1 {
    font-weight: 700;
    font-size: 13rem;
    line-height: 16rem;
    text-align: center;
    color: #FFFFFF;
}

.hero-data p {
    margin: 0 auto;
    width: 90.6rem;
    padding: 5.5rem 0;
    /* text-align: center; */
}

.hero-data span {
    color: #C8191C;
}

/**********************************/



/*************discover section********/
#discover {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;

    padding-bottom: 20rem;

}

#discover .discover-symbol>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#discover .discover-symbol h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 2rem;
}



/**********************************/

/***********discover-data**********/
.about {
    padding-top: 20rem;
    padding-bottom: 20rem;
    position: relative;
    /* background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%); */
}

.about .border-end {
    padding-right: 11.5rem;
}

.about p {
    margin-top: 10rem;
    max-width: 54.1rem;
}

.about .btn-theme {
    margin-top: 10.5rem;
}

/**********************************/

/***********super section*********/
#super {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
}
.imagine-data{
    padding-top: 4.5rem;
}

#super h4 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
}
#super p {
    padding-top: 11.5rem;
    width: 48.5rem;
}
.super-image{
    padding-left: 8.8rem;
}
.superimg{
    width: 100%;
}
.super-data h4 {
    padding-top: 10.4rem;
    padding-left: 2.9rem;
}




/**********************************/
/************services section*********/
#services{
    padding-top: 20rem;
    padding-bottom:20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
}
#services h2, h6{
    text-align: center;
}

/**********************************/


@media screen and (min-width:1650px) {
    .container {
        max-width: 150rem;
    }
}

@media screen and (min-width:1920px) {
    .container {
        max-width: 170rem;
    }
}