* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    height: 100px;
    /* background-color:black; */

}

header .container {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 5rem;
}


@media screen and (min-width:1650px) {
    .container {
        max-width: 150rem;
    }
}

@media screen and (min-width:1920px) {
    .container {
        max-width: 170rem;
    }
}